<h2>Welcome to Galvanize Reads!</h2>
<p>
  You can use this app to keep track of your favorite books and authors. Click the buttons below to see a full listing of book and authors that are currently stored in the database. You can add, edit, or remove authors and books.
</p>
<p>
  <center>
    <a href="/books" class="cool-btn">View All Books</a>
    &nbsp; &nbsp;
    <a href="/authors" class="cool-btn">View All Authors</a>
  </center>
</p>
<img src="/images/openbook.png" class="open-book">
